<!-- include header -->
<%-include('include/_header')%>
<!-- include header -->
<!-- Main Site -->
<main id="site-main">
  <!-- div -->
  <div class="container">
    <!-- div -->
    <div class="box-nav d-flex justify-between">
      <a href="add-user" class="border-shadow">
        <span class="text-gradiant">New User <i class="fas fa-user"></i> </span>
      </a>
    </div>
    <!-- form handling  -->
    <form action="/" method="POST">
      <table class="table">
        <!-- table header -->
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>@Email</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <!-- table body -->
        <tbody>
          <%-include('include/_show')%>
        </tbody>
      </table>
    </form>
  </div>
</main>
<!-- include footer -->
<%-include('include/_footer')%>
<!-- include footer -->
