<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD APPLICATION</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brand text-dark">User Management System</a>
          </div>
        </div>
      </nav>
    </header>
    <!-- Header -->

    <!-- Main Site -->
    <main id="site-main">
      <!-- div -->
      <div class="container">
        <!-- div -->
        <div class="box-nav d-flex justify-between">
          <div class="filter">
            <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
          </div>
        </div>

        <div class="form-title text-center">
          <h2 class="text-dark">New User</h2>
          <span class="text-light"
            >Use the below form to create a new account</span
          >
        </div>

        <!-- form handling  -->
        <form action="/" method="POST" id="updateTheUser">
          <div class="new_user" id="add_user">
            <!-- form-group -->
            <div class="form-group">
              <label for="name" class="text-light">Name</label>
              <input name="id" type="hidden" value="" />
              <input
                type="text"
                name="name"
                value=""
                placeholder="Jeevan Vaishnav"
              />
            </div>
            <!-- form-group -->
            <div class="form-group">
              <label for="email" class="text-light">Email</label>

              <input
                type="text"
                name="email"
                value=""
                placeholder="jeevan@gmail.com"
              />
            </div>
            <!-- form-group -->
            <div class="form-group">
              <label for="gender" class="text-light">Gender</label>
              <div class="radio inline">
                <input type="radio" name="gender" value="Male" id="radio-2" />
                <label for="radio-2" class="radio-label">Male</label>
              </div>

              <div class="radio inline">
                <input type="radio" name="gender" value="Female" id="radio-3" />
                <label for="radio-3" class="radio-label">Female</label>
              </div>
            </div>
            <!-- form-group -->
            <div class="form-group">
              <label for="status" class="text-light">Status</label>
              <div class="radio inline">
                <input type="radio" name="status" value="Active" id="radio-4" />
                <label for="radio-4" class="radio-label">Active</label>
              </div>
              <div class="radio inline">
                <input
                  type="radio"
                  name="status"
                  value="InActive"
                  id="radio-5"
                />
                <label for="radio-5" class="radio-label">InActive</label>
              </div>
            </div>
            <!-- end form-group -->

            <div class="form-group">
              <button type="submit" class="btn text-dark update">Save</button>
            </div>
          </div>
        </form>
        <!--ending form-->
      </div>
    </main>
  </body>
</html>
